<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Edit</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-input labelPlacement="stacked" label="Title" [(ngModel)]="note.title" placeholder={{note.title}}></ion-input>
  </ion-item>
  <ion-item>
    <ion-input labelPlacement="stacked" label="Description" [(ngModel)]="note.description" placeholder={{note.description}}></ion-input>
  </ion-item>
  <ion-item>
    <ion-checkbox [(ngModel)]="img" justify="space-between">¿Quieres eliminar la ubicación?</ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-checkbox [(ngModel)]="location" justify="space-between">¿Quieres eliminar la imagen?</ion-checkbox>
  </ion-item>
  <ion-button expand="block" (click)="showImage = !showImage">Ver imagen</ion-button>
  <img *ngIf="showImage && note.img" [src]="'data:image/jpeg;base64,' + note.img">
</ion-content>